main{
    background-color: aqua;

}
header{
    background-color: bisque;
}
.heding{background-color: green;}
.heding2{background-color: blue;}
.heding3{background-color: red;}
section{
    background-color: brown;
}

footer{

}