main{
    background-color: aqua;
    height: 600px;
    border: 6px solid black;
    display: flex;
    flex-direction: column;
 
}
header{background-color: blue;height: 20%;
display: flex;}
.logo{
    background-color: aliceblue;
    height: 100px;
    width: 300px;
}
.heading{
    background-color: aquamarine;
    height: 150%;
    width: 80%;

}
section{
    background-color: blueviolet;
    height: 80%;
    display: flex;
    
    

}
aside{background-color: brown;
height: 100%;width: 80%;}
article{
    background-color: yellow;height: 100%;width: 80%;
}
nav{
    background-color: green;height: 100%;width: 80%;
}
footer{
    background-color: rebeccapurple;
    height: 20%;
}